.navbar {
  background-color: #893BFF;
  height: 60px;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.home-container {
  padding: 10px;
}

.navbar img {
  /* margin: 20px; */
  height: 20px;
  margin: 20px;
}

.navbar h1 {
  /* font-size: 20px; */
  margin: 20px;
  color: white;
  font-weight: 600;
  margin-top: 0;
  margin-bottom: 0;
}

.search {
  height: 45px;
  border: 1px solid lightgray;
  margin: 25px 0;
  border-radius: 23px;
  width: 100%;
  position: relative;
  /* padding: 0 8px; */
}
.search svg {
  width: 100%;
  height: 100%;
}
.search .icon {
  height: 25px;
  width: 25px;
  float: right;
  position: absolute;
  right: 10px;
  transform: translateY(-50%);
  top: 50%;
  /* padding: 0 8px; */
}
.search input {
  margin: 0 12px;
  width: calc(100% - 24px);
  height: 100%;
  background: transparent;
  padding: 0 !important;
  outline: none !important;
  border: none !important;
  z-index: -1;
}
.map-container{
  position: relative;
  height: 150px;
}
.carousel-item {
  height: 100%;
  width: 100%;
  /* border: 1px solid lightgrey; */
}
.carousel-item-container {
  display: inline-block;
  height: 120px;
  width: 120px;
  padding: 0 10px;
  /* border: 1px solid lightgrey; */
}

.circular {
  border-radius: 50%;
}
.carousel h5 {
  text-align: center;
}

.carousel {
  overflow-x: auto;
  overflow-y: hidden;
  /* overflow-y: n; */
  white-space: nowrap;
  /* display: flex;
  align-items: center;
  justify-content: space-evenly; */
}

.images-carousel{
  overflow-x: auto;
  overflow-y: hidden;
  white-space: nowrap;
  margin: 10px 0;

}

.images-carousel img {
  display: inline-block;
  width: 200px;
  height: 150px;
  object-fit: cover;
  margin-right: 10px;
}

.detalles {
  padding: 10px;
}

.detalles h2 {
  text-align: center;
}

.banner {
  height: 200px;
  position: relative;
}
.banner .bck-img {
  position: absolute;
  width: 100%;
  height: 100%;
  top: 0;
  bottom: 0;
  z-index: -2;
  object-fit: cover;
}
.banner .bck-overlay {
  position: absolute;
  width: 100%;
  height: 100%;
  top: 0;
  bottom: 0;
  background-color: rgba(0,0,0,0.6);
  z-index: -1;
}
.logo-container {
  /* margin-top: 20px; */
  /* position: absolute; */
  transform: translateY(10%);
  align-items: flex-end;
  display: flex;
  height: 100%;
  justify-content: center;
}
.logo-container img{
  height: 100px;
  width: 100px;
  border-radius: 50%;
  box-shadow: 0 0 5px black;
}

.footer {
  height: 300px;
  margin-top: 10px;
  background-color: rgb(230,230,230);
}