.navbar {
  background-color: #893BFF;
  height: 60px;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.navbar img {
  /* margin: 20px; */
  height: 20px;
  margin: 20px;
}

.navbar h1 {
  /* font-size: 20px; */
  margin: 20px;
  color: white;
  font-weight: 600;
  margin-top: 0;
  margin-bottom: 0;
}

.search {
  height: 45px;
  border: 1px solid lightgray;
  margin: 35px 20px;
  border-radius: 23px;
}

.carousel-item {
  height: 100%;
  width: 100%;
  /* border: 1px solid lightgrey; */
}
.carousel-item-container {
  display: inline-block;
  height: 120px;
  width: 120px;
  padding: 0 10px;
  /* border: 1px solid lightgrey; */
}

.circular {
  border-radius: 50%;
}
.carousel h5 {
  text-align: center;
}

.carousel {
  overflow-x: auto;
  overflow-y: hidden;
  /* overflow-y: n; */
  white-space: nowrap;
  /* display: flex;
  align-items: center;
  justify-content: space-evenly; */
}